aniso8601==8.0.0
click==7.1.2
Flask==1.1.2
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1


httpie==2.2.0
colorama
Pygments
requests
chardet
idna
urllib3
certifi


SQLAlchemy==1.3.19
Flask-SQLAlchemy==2.4.4


PyMySQL==0.10.1


marshmallow==3.9.1
flask_marshmallow==0.14.0
marshmallow_sqlalchemy==0.24.1


unittest2==1.1.0
traceback2==1.4.0
linecache2==1.0.0
argparse==1.4.0


coverage==5.5


flask_swagger==0.2.14
flask_swagger_ui==3.36.0
PyYAML==5.4.1


